body {
  background-color: #181818;
  max-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

#root {
  min-height: 50rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  
}

